name: CD

on:
  push:
    branches: [ "master", "develop" ]

permissions:
  contents: read
  packages: write

jobs:
  
  build-and-push:
    name: Build & push image to GHCR
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install deps
        run: npm ci

      - name: Test
        run: npm test --if-present

      - name: Build
        run: npm run build
  

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3


      - name: Prepare image name
        id: prep
        run: echo "IMAGE=ghcr.io/${GITHUB_REPOSITORY,,}" >> $GITHUB_OUTPUT
        
      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ steps.prep.outputs.IMAGE }}:latest
            ${{ steps.prep.outputs.IMAGE }}:${{ github.sha }}
